<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="log4net.Config" value="log4.config" />
    <add key="log4net.Config.Watch" value="True" />
    <add key="log4net.Internal.Debug" value="False" />
    <!--站点数量-->
    <add key="StationCount" value="10" />
    <!--座位数量-->
    <add key="SeatCount" value="1000" />
    <!--购票人数-->
    <add key="UserCount" value="10" />
    <!--每人可购买次数-->
    <add key="UserBuyCount" value="10" />
    <!--每人每次最少可购票量-->
    <add key="EachBuyMin" value="10" />
    <!--每人每次最多可购票量-->
    <add key="EachBuyMax" value="100" />
  </appSettings>
</configuration>